# Caso Práctico (tips) - ENGIE
*Jose Enrique Zafra Mena*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl
import json

## Carga de los datos

In [2]:
facturas_df = pd.read_excel('datos/datos-tips/AGIkey_facturas.xlsx')
mapping_df = pd.read_excel('datos/Mapping.xlsx')
IAC_df = pd.read_excel('datos/datos-tips/MEDG2_IAC_GETRA_ABRIL_2024_06_18_13_34.xlsx')

In [3]:
facturas_df.head(1000)

,NumeroFactura,Emisor,RazonSocialEmisor,DepEmisor,Receptor,RazonSocialReceptor,DepReceptor,FechaFactura,Importe,Moneda,...,FechaRegistro,Destino,Contrato,Origen,ServicioFacturado,¿Verificada por BO?,Observaciones,Importe (<0 a pagar EEE-Enagas),mes,año
0,1400180000,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,2024-02-01 00:00:00,"4,56",EUR,...,2024-02-01 00:00:00,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
1,1400180001,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,2024-02-01 00:00:00,"15794,20",EUR,...,2024-02-01 00:00:00,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
2,1400180002,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,2024-02-01 00:00:00,"16380,50",EUR,...,2024-02-01 00:00:00,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
3,1400180003,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,2024-02-01 00:00:00,"1930,22",EUR,...,2024-02-01 00:00:00,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
4,1400180004,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,2024-02-01 00:00:00,"43388,45",EUR,...,2024-02-01 00:00:00,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,1400180104,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,28/05/2024,"44751,03",NaN,...,28/05/2024,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
936,1400180105,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,28/05/2024,"11928,65",NaN,...,28/05/2024,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
937,1400180106,ESB82508441,ENGIE ESPAÑA SLU,20.0,ESA86484292,"ENAGAS GTS, SAU",NaN,28/05/2024,"11198,08",NaN,...,28/05/2024,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
938,2024069931,ESA86484292,"ENAGAS GTS, SAU",20.0,ESB82508441,ENGIE ESPAÑA SLU,NaN,28/05/2024,"16141,36",NaN,...,28/05/2024,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN
939,2024069932,ESA86484292,"ENAGAS GTS, SAU",20.0,ESB82508441,ENGIE ESPAÑA SLU,NaN,28/05/2024,"23186,62",NaN,...,28/05/2024,eMail,344991,PVB,LiquidaciÃ³n Desbalance Provisional,NaN,NaN,NaN,NaN,NaN

## Filtrado de datos relevantes

### Facturas
Solo nos interesan ciertas columnas: Factura, Importe, Fecha Factura.

In [4]:
facturas_df = facturas_df.drop_duplicates()

facturas_df = facturas_df[['NumeroFactura', 'Importe', 'FechaFactura', 'Origen','ServicioFacturado']]

# solo queremos algunos valores de Origen: C.I.Almería y Entrada PVB
facturas_filtrado_df = facturas_df[(facturas_df['Origen'].isin(['C.I. Almería'])) & (facturas_df['ServicioFacturado'].isin(['Entrada PVB']))]


facturas_filtrado_df.head(10)

,NumeroFactura,Importe,FechaFactura,Origen,ServicioFacturado
20,2324001054,"537278,06",2024-03-01 00:00:00,C.I. Almería,Entrada PVB
159,2324002755,"514862,14",2024-05-02 00:00:00,C.I. Almería,Entrada PVB
376,2324004231,"503763,47",2024-06-03 00:00:00,C.I. Almería,Entrada PVB
570,2324005598,"536445,62",2024-04-04 00:00:00,C.I. Almería,Entrada PVB
771,2324007434,"525023,53",2024-07-05 00:00:00,C.I. Almería,Entrada PVB

### Mapping

In [5]:
mapping_df = mapping_df.drop_duplicates()
print(mapping_df.shape)

# solo nos interesan algunos valores: Commodity == IAC
mapping_filtrado_df = mapping_df[(mapping_df['Commodity'].isin(['IAC']))]
mapping_filtrado_df.head(200)

(29, 5)

         Origen Servicio facturado Portfolio Commodity DealType
0  C.I. Almería        Entrada PVB     MEDG2       IAC    GETRA

### Deals 
Solo queremos las columnas: Deal, Cantidad, Start-DeliveryDate, End-DeliveryDate, Procedencia (SUGST_AOC_STOK), Subflow 1, Date 1, Subcantidad 1, Subflow 2, Date 2, Subcantidad 2.

En la columna flows vemos que hay datos en json. Tratamos esa columna para sacar los datos a un formato mejor. También mantemos el Id del deal para cada subflow.

In [30]:
IAC_df = IAC_df.drop_duplicates()

# nos quedamos con las columnas que queremos por ahora
IAC_filtrado_df = IAC_df[['Id', 'Flows', 'StartDeliveryDate', 'EndDeliveryDate']]
IAC_filtrado_df = IAC_filtrado_df.rename(columns={'Id':'Id Deal'})

IAC_filtrado_df.head()

,Id Deal,Flows,StartDeliveryDate,EndDeliveryDate
0,37591650,"[{'Currency': 'EUR', 'Amount': 105279.586144, ...",2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00
1,37056084,"[{'Currency': 'EUR', 'Amount': 0.0, 'Id': 9219...",2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00

In [42]:
# definimos una función para tratar los json (la tendremos que usar varias veces)
def clean_json(string):
    if isinstance(string, str):
        string = string.replace("'", '"')
        string = string.replace("None", 'null')
        string = string.replace("True", 'true')
        string = string.replace("False", 'false')
    return string

# la usamos sobre la columna de flows
flows_cleaned = IAC_filtrado_df['Flows'].apply(clean_json)


# Ahora creamos otra función para extraer los datos de json a diccionarios de python
def extract_json(flows, id_deal):
    if not flows or not isinstance(flows, list):
        return pd.DataFrame()
    data = {
        'Id Deal': [],
        'Currency': [],
        'Amount': [],
        'Id': [],
        'Date': [],
        'FlowType': [],
        'PayReceive': []
    }
    for item in flows:
        if isinstance(item, dict):
            data['Id Deal'].append(id_deal)
            for key in data.keys():
                if key != 'Id Deal':
                    data[key].append(item.get(key))
        else:
            print(f"Unexpected type {type(item)}")
    return pd.DataFrame(data)

# creamos un df para meter los datos
datos_json = []

for idx, row in IAC_filtrado_df.iterrows():
    try:
        # intentamos convertir la cadena a una lista de diccionarios
        print(f"Procesamos fila {idx} con Id Deal {row['Id Deal']}")
        flows = eval(row['Flows'])
        id_deal = row['Id Deal']
        i = extract_json(flows, id_deal)
        if not i.empty:
            datos_json.append(i)
        else:
            print(f"DataFrame vacío para Id Deal {id_deal}")
    except Exception as e:
        print(e)

datos_json_final = pd.concat(datos_json, ignore_index=True)
    
# cambiamos un poco las columnas
datos_json_final = datos_json_final[['Id Deal','Id','Amount', 'Date', 'FlowType']]
datos_json_final = datos_json_final.rename(columns={'Id':'Id Flow', 'Amount':'Importe Flow', 'Date':'Fecha Flow', 'FlowType':'Subflow'})

datos_json_final.head(100)

Procesamos fila 0 con Id Deal 37591650
Procesamos fila 1 con Id Deal 37056084

     Id Deal   Id Flow   Importe Flow                 Fecha Flow  Subflow
0   37591650  93540225  105279.586144  2024-02-20T00:00:00+01:00        1
1   37591650  93540224  409582.490000  2024-02-20T00:00:00+01:00        2
2   37591650  93540227  120318.957648  2024-03-20T00:00:00+01:00        1
3   37591650  93540226  383444.510000  2024-03-20T00:00:00+01:00        2
4   37591650  93540229  128084.859614  2024-04-22T00:00:00+02:00        1
5   37591650  93540228  408200.220000  2024-04-22T00:00:00+02:00        2
6   37591650  93540231  130004.564430  2024-05-20T00:00:00+02:00        1
7   37591650  93540230  395032.480000  2024-05-20T00:00:00+02:00        2
8   37591650  93540233  134338.049911  2024-06-20T00:00:00+02:00        1
9   37591650  93540232  408200.220000  2024-06-20T00:00:00+02:00        2
10  37591650  93540235   87089.600138  2024-07-22T00:00:00+02:00        1
11  37591650  93540234  395032.480000  2024-07-22T00:00:00+02:00        2
12  37591650  93540237       0.000427  2024-08-20T00:00:00+02:00        1
13  37591650  93540236  408200.220000  2024-08-20T00:00:00+02:00        2
14  37591650  93540239       0.000427  2024-09-20T00:00:00+02:00        1
15  37591650  93540238  408200.220000  2024-09-20T00:00:00+02:00        2
16  37591650  93540241       0.000413  2024-10-21T00:00:00+02:00        1
17  37591650  93540240  395032.480000  2024-10-21T00:00:00+02:00        2
18  37591650  93540243       0.000428  2024-11-20T00:00:00+01:00        1
19  37591650  93540242  514797.390000  2024-11-20T00:00:00+01:00        2
20  37591650  93540245       0.000413  2024-12-20T00:00:00+01:00        1
21  37591650  93540244  488516.220000  2024-12-20T00:00:00+01:00        2
22  37591650  93540247       0.000427  2025-01-20T00:00:00+01:00        1
23  37591650  93540246  501683.960000  2025-01-20T00:00:00+01:00        2
24  37056084  92190016       0.000000  2023-02-20T00:00:00+01:00        1
25  37056084  92190015  364601.280000  2023-02-20T00:00:00+01:00        2
26  37056084  92190018       0.000000  2023-03-20T00:00:00+01:00        1
27  37056084  92190017  350088.930000  2023-03-20T00:00:00+01:00        2
28  37056084  92190020   45717.136684  2023-04-20T00:00:00+02:00        1
29  37056084  92190019  335440.310000  2023-04-20T00:00:00+02:00        2
30  37056084  92190022   51030.000000  2023-05-22T00:00:00+02:00        1
31  37056084  92190021  324619.660000  2023-05-22T00:00:00+02:00        2
32  37056084  92190024   52518.375000  2023-06-20T00:00:00+02:00        1
33  37056084  92190023  335440.310000  2023-06-20T00:00:00+02:00        2
34  37056084  92190026   25515.000000  2023-07-20T00:00:00+02:00        1
35  37056084  92190025  324619.660000  2023-07-20T00:00:00+02:00        2
36  37056084  92190028   52731.000000  2023-08-21T00:00:00+02:00        1
37  37056084  92190027  335440.310000  2023-08-21T00:00:00+02:00        2
38  37056084  92190030   52731.000000  2023-09-20T00:00:00+02:00        1
39  37056084  92190029  335440.310000  2023-09-20T00:00:00+02:00        2
40  37056084  92190032   51030.000000  2023-10-20T00:00:00+02:00        1
41  37056084  92190031  322664.100000  2023-10-20T00:00:00+02:00        2
42  37056084  92190034  109735.500000  2023-11-20T00:00:00+01:00        1
43  37056084  92190033  431899.160000  2023-11-20T00:00:00+01:00        2
44  37056084  92190036  128520.000000  2023-12-20T00:00:00+01:00        1
45  37056084  92190035  395469.840000  2023-12-20T00:00:00+01:00        2
46  37056084  92190038  128680.044800  2024-01-22T00:00:00+01:00        1
47  37056084  92190037  408652.160000  2024-01-22T00:00:00+01:00        2

Lo anterior solo es la columna que teníamos de flows. Ahora lo unimos con el resto del dataframe original (deals IAC). Tan solo tenemos que añadirle las columnas de las fechas iniciales y finales, según el valor de Id Deal que tenga.

In [49]:
IAC_final_df = (pd.merge(IAC_filtrado_df, datos_json_final, on='Id Deal', how='inner')).drop_duplicates()
IAC_final_df = IAC_final_df.drop(columns=['Flows'])

# también añadimos una columna llamada Commodity con valor IAC para que sea más fácil el merge
IAC_final_df['Commodity']='IAC'

IAC_final_df.head(100)
## podemos cambiar el formato de las fechas (por ahora no??)

,Id Deal,StartDeliveryDate,EndDeliveryDate,Id Flow,Importe Flow,Fecha Flow,Subflow,Commodity
0,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540225,105279.586144,2024-02-20T00:00:00+01:00,1,IAC
1,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540224,409582.490000,2024-02-20T00:00:00+01:00,2,IAC
2,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540227,120318.957648,2024-03-20T00:00:00+01:00,1,IAC
3,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540226,383444.510000,2024-03-20T00:00:00+01:00,2,IAC
4,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540229,128084.859614,2024-04-22T00:00:00+02:00,1,IAC
5,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540228,408200.220000,2024-04-22T00:00:00+02:00,2,IAC
6,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540231,130004.564430,2024-05-20T00:00:00+02:00,1,IAC
7,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540230,395032.480000,2024-05-20T00:00:00+02:00,2,IAC
8,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540233,134338.049911,2024-06-20T00:00:00+02:00,1,IAC
9,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540232,408200.220000,2024-06-20T00:00:00+02:00,2,IAC
10,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540235,87089.600138,2024-07-22T00:00:00+02:00,1,IAC
11,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540234,395032.480000,2024-07-22T00:00:00+02:00,2,IAC
12,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540237,0.000427,2024-08-20T00:00:00+02:00,1,IAC
13,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540236,408200.220000,2024-08-20T00:00:00+02:00,2,IAC
14,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540239,0.000427,2024-09-20T00:00:00+02:00,1,IAC
15,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540238,408200.220000,2024-09-20T00:00:00+02:00,2,IAC
16,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540241,0.000413,2024-10-21T00:00:00+02:00,1,IAC
17,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540240,395032.480000,2024-10-21T00:00:00+02:00,2,IAC
18,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540243,0.000428,2024-11-20T00:00:00+01:00,1,IAC
19,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540242,514797.390000,2024-11-20T00:00:00+01:00,2,IAC
20,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540245,0.000413,2024-12-20T00:00:00+01:00,1,IAC
21,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540244,488516.220000,2024-12-20T00:00:00+01:00,2,IAC
22,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540247,0.000427,2025-01-20T00:00:00+01:00,1,IAC
23,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540246,501683.960000,2025-01-20T00:00:00+01:00,2,IAC
24,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190016,0.000000,2023-02-20T00:00:00+01:00,1,IAC
25,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190015,364601.280000,2023-02-20T00:00:00+01:00,2,IAC
26,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190018,0.000000,2023-03-20T00:00:00+01:00,1,IAC
27,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190017,350088.930000,2023-03-20T00:00:00+01:00,2,IAC
28,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190020,45717.136684,2023-04-20T00:00:00+02:00,1,IAC
29,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190019,335440.310000,2023-04-20T00:00:00+02:00,2,IAC
30,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190022,51030.000000,2023-05-22T00:00:00+02:00,1,IAC
31,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190021,324619.660000,2023-05-22T00:00:00+02:00,2,IAC
32,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190024,52518.375000,2023-06-20T00:00:00+02:00,1,IAC
33,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190023,335440.310000,2023-06-20T00:00:00+02:00,2,IAC
34,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190026,25515.000000,2023-07-20T00:00:00+02:00,1,IAC
35,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190025,324619.660000,2023-07-20T00:00:00+02:00,2,IAC
36,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190028,52731.000000,2023-08-21T00:00:00+02:00,1,IAC
37,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190027,335440.310000,2023-08-21T00:00:00+02:00,2,IAC
38,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190030,52731.000000,2023-09-20T00:00:00+02:00,1,IAC
39,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190029,335440.310000,2023-09-20T00:00:00+02:00,2,IAC
40,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190032,51030.000000,2023-10-20T00:00:00+02:00,1,IAC
41,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190031,322664.100000,2023-10-20T00:00:00+02:00,2,IAC
42,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190034,109735.500000,2023-11-20T00:00:00+01:00,1,IAC
43,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190033,431899.160000,2023-11-20T00:00:00+01:00,2,IAC
44,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190036,128520.000000,2023-12-20T00:00:00+01:00,1,IAC
45,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190035,395469.840000,2023-12-20T00:00:00+01:00,2,IAC
46,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190038,128680.044800,2024-01-22T00:00:00+01:00,1,IAC
47,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190037,408652.160000,2024-01-22T00:00:00+01:00,2,IAC

### Merge de Mapping con Deals
Hacemos el merge con Commodity

In [51]:
IAC_merged_df = pd.merge(IAC_final_df, mapping_filtrado_df, on='Commodity', how='inner')

# quitamos algunas columnas innecesarias
IAC_merged_df.drop(columns=['Portfolio','DealType'], inplace=True)
IAC_merged_df.head(50)

,Id Deal,StartDeliveryDate,EndDeliveryDate,Id Flow,Importe Flow,Fecha Flow,Subflow,Commodity,Origen,Servicio facturado
0,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540225,105279.586144,2024-02-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
1,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540224,409582.490000,2024-02-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
2,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540227,120318.957648,2024-03-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
3,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540226,383444.510000,2024-03-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
4,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540229,128084.859614,2024-04-22T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
5,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540228,408200.220000,2024-04-22T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
6,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540231,130004.564430,2024-05-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
7,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540230,395032.480000,2024-05-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
8,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540233,134338.049911,2024-06-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
9,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540232,408200.220000,2024-06-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
10,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540235,87089.600138,2024-07-22T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
11,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540234,395032.480000,2024-07-22T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
12,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540237,0.000427,2024-08-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
13,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540236,408200.220000,2024-08-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
14,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540239,0.000427,2024-09-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
15,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540238,408200.220000,2024-09-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
16,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540241,0.000413,2024-10-21T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
17,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540240,395032.480000,2024-10-21T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
18,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540243,0.000428,2024-11-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
19,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540242,514797.390000,2024-11-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
20,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540245,0.000413,2024-12-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
21,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540244,488516.220000,2024-12-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
22,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540247,0.000427,2025-01-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
23,37591650,2024-01-01T00:00:00+01:00,2024-12-31T00:00:00+01:00,93540246,501683.960000,2025-01-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
24,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190016,0.000000,2023-02-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
25,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190015,364601.280000,2023-02-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
26,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190018,0.000000,2023-03-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
27,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190017,350088.930000,2023-03-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
28,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190020,45717.136684,2023-04-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
29,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190019,335440.310000,2023-04-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
30,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190022,51030.000000,2023-05-22T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
31,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190021,324619.660000,2023-05-22T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
32,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190024,52518.375000,2023-06-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
33,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190023,335440.310000,2023-06-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
34,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190026,25515.000000,2023-07-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
35,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190025,324619.660000,2023-07-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
36,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190028,52731.000000,2023-08-21T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
37,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190027,335440.310000,2023-08-21T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
38,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190030,52731.000000,2023-09-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
39,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190029,335440.310000,2023-09-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
40,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190032,51030.000000,2023-10-20T00:00:00+02:00,1,IAC,C.I. Almería,Entrada PVB
41,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190031,322664.100000,2023-10-20T00:00:00+02:00,2,IAC,C.I. Almería,Entrada PVB
42,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190034,109735.500000,2023-11-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
43,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190033,431899.160000,2023-11-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
44,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190036,128520.000000,2023-12-20T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
45,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190035,395469.840000,2023-12-20T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB
46,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190038,128680.044800,2024-01-22T00:00:00+01:00,1,IAC,C.I. Almería,Entrada PVB
47,37056084,2023-01-01T00:00:00+01:00,2023-12-31T00:00:00+01:00,92190037,408652.160000,2024-01-22T00:00:00+01:00,2,IAC,C.I. Almería,Entrada PVB

### Merge de Mapping con Facturas
En este caso nos vale bien con Origen, o bien con Servicio Facturado.

In [53]:
facturas_merged_df = pd.merge(facturas_filtrado_df, mapping_filtrado_df, on='Origen', how='inner')

facturas_merged_df.head(100)

,NumeroFactura,Importe,FechaFactura,Origen,ServicioFacturado,Servicio facturado,Portfolio,Commodity,DealType
0,2324001054,"537278,06",2024-03-01 00:00:00,C.I. Almería,Entrada PVB,Entrada PVB,MEDG2,IAC,GETRA
1,2324002755,"514862,14",2024-05-02 00:00:00,C.I. Almería,Entrada PVB,Entrada PVB,MEDG2,IAC,GETRA
2,2324004231,"503763,47",2024-06-03 00:00:00,C.I. Almería,Entrada PVB,Entrada PVB,MEDG2,IAC,GETRA
3,2324005598,"536445,62",2024-04-04 00:00:00,C.I. Almería,Entrada PVB,Entrada PVB,MEDG2,IAC,GETRA
4,2324007434,"525023,53",2024-07-05 00:00:00,C.I. Almería,Entrada PVB,Entrada PVB,MEDG2,IAC,GETRA

## Conciliación
**Se hace según *Origen* + *Servicio Facturado***

Mapping y Facturas comparten *Origen* y *Servicio Facturado*

Vemos la cantidad según Facturas, la cantidad según Deals, y hacemos la diferencia

### Comparación entre Facturas y Deals

In [58]:
# Agrupar y sumar importes en iac_merged_df
iac_grouped = IAC_merged_df.groupby(['Origen', 'Servicio facturado'])['Importe Flow'].sum().reset_index()

# Agrupar y sumar importes en facturas_merged_df
facturas_grouped = facturas_merged_df.groupby(['Origen', 'ServicioFacturado'])['Importe'].sum().reset_index()

# Unir ambos DataFrames agrupados para comparar
conciliacion_df = pd.merge(iac_grouped, facturas_grouped, left_on=['Origen', 'Servicio facturado'], right_on=['Origen', 'ServicioFacturado'], how='outer', suffixes=('_deals', '_facturas'))

# Calcular la diferencia entre los importes
conciliacion_df['Diferencia'] = conciliacion_df['Importe'] - conciliacion_df['Importe Flow']  ## hay que ponerlos en formato numero float

# Mostrar los resultados de la conciliación
print(conciliacion_df)

TypeError: unsupported operand type(s) for -: 'str' and 'float'

### Discrepancias